body{
  background-color: #c6f6da;
}

@font-face {
  font-family: poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: #4d4545;
}
.academy{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  width: 70%;
}
.paragraph{
  width: 70%;
}
.text-section{
  display:flex;
  flex-direction: column;
  gap: 30px;
}
.parent{
  background-color: rgb(250, 250, 250);
  padding: 50px 40px;
  border: 1px solid rgb(206, 204, 204);
  box-shadow: 10px 10px 1cqmin rgb(0, 128, 83) ;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 15px;
  max-width: 700px;
  min-width: 500px;
}
.title{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title button{
  width: 50%;
  font-size: 15px;
  border-radius: 25px;
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-color: #ff0303;
  
}
.title button:hover{
  background-color:rgb(238, 108, 118) ;
  color: azure;
}
mark{
  background-color: aquamarine;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input{
  border: none;
  background-color: rgb(240, 235, 234);
  border-radius: 10px;
  height: 40px;
  width:100% ;
  padding-left: 10px;
  outline: none;
  
}
.label-inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.password{
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 10px;
  
}
.chekbox{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  gap: 10px;
}
.checkbox-input{
  margin-top: 8px;
}
button[type=submit]{
  border-radius: 25px;
  background-color: black;
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
  padding: 15px 30px;
}
button[type=submit]:hover{
  background-color: #ffffff;
  color: #000;
}
.register{
  display: flex;
  gap: 10px;
}
.register a{
  color: #113ade;
}

@media screen and (max-width:768px){
  .container{
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }
}

